:root{
    --dark-blue: #143340;
    --light-blue: #DCECF2;
    --dark-green: #BCBF56;
    --light-green: #e3e483;
    --bright-green: #D9CE32;
    --white: #ffffff;
    --stroke-blue: #70bedb;
    --signs-background: #b7dae7;
    --inner-dark-blue: #0E2431;
}

/*reset browser default settings*/
html, body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: 0;
    line-height: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-blue);
}

/*Main div code*/
#main-div{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55rem;
    height: 34rem;
    margin: 5rem auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 10px 20px 2px hsl(0, 0%, 75%);
}

@media (max-width: 768px) {
    #main-div{
        width: 100%;
        height: 100%;
        margin: 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        border-radius: 0;
        box-shadow: none;
    }
}


/*right side container code*/
#right-side-container{
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    border-radius: 0 20px 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--dark-blue);
    color: white;
    margin-left: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px){
    #right-side-container{
        position: relative;
        border-radius: 0;
        right: 50%;
        left: 0;
        margin-left: 0;
        width: 100%;
    }
}

#illustration{
    width: 12rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px){
    #illustration{
        margin-top: 1rem;
    }
}

#p-right{
    margin-top: 0;
    margin-bottom: 3rem;
    line-height: 1.5;
    text-align: center;
    opacity: 50%;
    font-size: 1rem;
}

#right-side-container h2{
    margin-bottom: 2rem;
}

/*left side container code*/
#left-side-container{
    width: 45%;
    padding: 30px 40px 40px 30px;
}

@media (max-width: 768px){
    #left-side-container{
        box-sizing: border-box;
        width: 100%;
        padding: 30px;
        margin-bottom: 2rem;
    }
}

#left-line-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

@media (max-width: 768px){
    #left-line-1{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

a{
    color: grey;
}
h1{
    font-size: 1.5rem;
}

@media (max-width: 768px){
    h1{
        margin-bottom: 2.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 365px){
    h1{
        margin-bottom: 2.5rem;
        font-size: 1.7rem;
    }
}

#mortgage-and-interest-container{
    display: flex;
}

#mortgage-container{
    margin-right: 1rem;
    position: relative;
}

#mortgage-container .input-sign{
    position: absolute;
    font-size: 1rem;
    right: 1.2px;
    top: 26%;
    padding: 23px 23px 22.5px 20px;
    border-radius: 0 5px 5px 0;
    color: var(--inner-dark-blue);
    background-color: var(--signs-background);
}

#interest-rate-container{
    position: relative;
}

#interest-rate-container .input-sign{
    position: absolute;
    font-size: 1.3rem;
    right: 1.2px;
    top: 26%;
    padding: 23px 23px 22.5px 20px;
    border-radius: 0 5px 5px 0;
    color: var(--inner-dark-blue);
    background-color: var(--signs-background);
}

#mortgage-amount-container{
    position: relative;
}

#mortgage-amount-container .input-sign{
    position: absolute;
    font-size: 1.5rem;
    top: 26%;
    left: 1px;
    pointer-events: none;
    color: var(--inner-dark-blue);
    padding: 23px 23px 22.5px 20px;
    background-color: var(--signs-background);
    border-radius: 5px 0 0 5px;
}

.m-and-i{
    width: 50%;
}

#radios-container{
    display: flex;
    flex-direction: column;
}

#btn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    border: none;
    border-radius: 50px;
    background-color: var(--bright-green);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

@media (max-width: 768px){
    #btn{
        width: 100%;
    }
}

#btn:hover{
    background-color: var(--light-green);
}

#calculator{
    margin-right: 0.5rem;
}


/*class container code*/
input[type="number"]{
    margin: 1.5rem 0;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1.5px solid var(--stroke-blue);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

input[type="number"]:hover{
    border: 1.5px solid var(--inner-dark-blue);
}

input[type="number"] {
    -moz-appearance: textfield;
}


.repayment-and-interest{
    border: 1.5px solid var(--stroke-blue);
    margin: 0.5rem 0;
    padding: 1rem 0 1rem 0.5rem;
    background-color: var(--white);
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
}
.repayment-and-interest:hover{
    border-color: var(--light-green);
}

/*Error message container code*/
#mortgage-amount-error-message{
    margin: 0 0 2.5rem;
    color: red;
    display: none;
}

#mortgage-term-error-message{
    margin: 0 0 2.5rem;
    color: red;
    display: none;
}

#interest-rate-error-message{
    margin: 0 0 2.5rem;
    color: red;
    display: none;
}

#rOrI-error-message{
    margin: 1rem 0 2.5rem;
    color: red;
    display: none;
}

/*your results container code*/
#your-results-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    padding: 1rem 2rem 2rem;
    color: var(--white);
    background-color: var(--dark-blue);
    border-radius: 0 20px 20px 80px;
}

@media (max-width: 768px){
    #your-results-container{
        position: relative;
        border-radius: 0;
        right: 50%;
        left: 0;
    }
}

h2{
    margin: 2rem 0 2.5rem;
}

#instructions{
    opacity: 50%;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}


@media (max-width: 380px){
    .instructions{
        font-size: 0.8rem;
    }
}

@media (max-width: 452px){
    .instructions{
        font-size: 0.9rem;
    }
}

#result-container{
    border-bottom: 1px solid hsla(0, 0%, 40%, 0.699);
}

#inner-container{
    background-color: var(--inner-dark-blue);
    padding: 2rem;
    border-radius: 10px;
    border-top: 4px solid var(--bright-green);
    margin-top: 3rem;
}

#the-result{
    font-size: 3rem;
    font-weight: bold;
    opacity: 100%;
    color: var(--bright-green);
}

#instructions-2{
    margin: 3rem 0 2rem;
}

#payment-over-term{
    font-size: 1.5rem;
}